.form {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.form div {
  margin-top: 1rem;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.form label {
  margin-top: 1rem;
}

.form-expense button {
  background-color: #ff5151;
  border: 2px solid red;
}

.form-income button {
  background-color: #52cf52;
  border: 2px solid #114b00;
}

.unnecessary{
    margin-left: 1rem;
}

.expense-btn{
  background-color: #ff5151;
  border: 1px solid red;
}
.income-btn{
  background-color: #52cf52;
  border: 1px solid #114b00;
}

button:hover {
  transform: scale(1.1);
}