.filter {
  color: white;
  font-weight: bold;
}

.filter .title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filter .title h2 {
  margin: 0;
  display: inline-block;
}

.filter .title p {
  display: inline-block;
  margin: 0;
  color: #3685eb;
}

.filter .title button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid white;
  transition: transform 0.3s;
  margin: 0;
}

.filter-container {
  margin-bottom: 2rem;
}
.dropdown-button__active {
  transform: rotate(180deg);
}

.filter label {
  margin-right: 4px;
}

.filter button {
  background-color: #3685eb;
  border: 2px solid #0053be;
}

.year {
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.month {
  display: inline-block;
  margin-top: 1.5rem;
  margin-right: 1rem;
}

.buttons-container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons-container button:hover {
  transform: scale(1.1);
}

.checkbox-container {
  display: inline-block;
  margin-top: 1rem;
}

.checkbox-container input + label {
  margin-left: 1rem;
}

.filter .filter-container__inactive {
  display: none;
}

@media (max-width: 500px) {

  .filter .title p {
    font-size: 0.8rem;
  }

  .filter .title h2 {
    font-size: 1.2rem;
  }

  .filter label {
    font-size: 0.9rem;
  }
}