.list-item{
  display: flex;
  margin-bottom: 1rem;
}

.income {
  border-color: #114b00;
  background-color: #52cf52;
}

.income button{
  border-color: #114b00;
}

.expense {
  border-color: red;
  background-color: #ff5151;
  ;
}

.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
}

.container>p {
  margin: 0;
  font-size: 1.5rem;
}

.date{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #333333;
  border-radius: 5px;
  background-color: #1d1d1d;
  color: white;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 4rem;
}

.date p{
  margin: 0 0 2px 0;
}

.delete-btn{
  align-self: center;
  justify-self: flex-end;
  display: flex;
  background-color: transparent;
  border: none;
  padding: none;
  width: 2rem;
  height: 2rem;
}

.delete-btn img{
  width: 100%;
}
