.list-item{
  display: flex;
  margin-top: 1rem;
}

.income {
  border-color: #114b00;
  background-color: #52cf52;
}

.income button{
  border-color: #114b00;
}

.expense {
  border-color: red;
  background-color: #ff5151;
  ;
}

.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem 0.2rem 0.2rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  overflow: hidden;
}

.container>p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.date{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #333333;
  border-radius: 5px;
  background-color: #1d1d1d;
  color: white;
  padding: 0.5rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  width: 4rem;
}

.date p{
  margin: 0 0 2px 0;
}

.delete-btn{
  align-self: center;
  justify-self: flex-end;
  display: flex;
  background-color: transparent;
  border: none;
  padding: none;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
}

.delete-btn img{
  width: 100%;
}

@media (max-width: 500px) {

  .container {
    padding: 0.2rem 0.6rem 0.2rem 0.1rem;
  }

  .container>p {
    font-size: 0.8rem;
  }

  .date {
    font-size: 0.6rem;
    width: 3.3rem;
  }

  .delete-btn{
    width: 1.6rem;
    height: 1.6rem;
  }
}